{% extends 'base_backoffice.html.twig' %}

{% block title %}New Publicite{% endblock %}

{% block body %}
    <h1>Create new publicite</h1>

    {{ include('publicite_backoffice/_form.html.twig') }}

    <a href="{{ path('app_publicite_backoffice') }}">back to list</a>
{% endblock %}
