{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

        <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    </div>  
    </div>  
    </div>  
    </div>  
    </div>  
    </div>

{% endblock %}
